.jumbotron {
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  background-image: url(https://www.pngarts.com/files/2/Pattern-PNG-Pic.png);
  background-color: #BC9199;
}
.question1 .radiopadding{
  padding: 3px;
}
.question2 img {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  padding: 10px;
}
.question3 img {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  padding: 10px;
}
.question4 img {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  padding: 10px;
}
.question5 img {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  padding: 10px;
}
.question6 img {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  padding: 10px;
}
.ruby, .react, .csharp {
  display: none;
}
body {
  font-family: 'Amatic SC', cursive;
}
h4 {
  font-size: 30px;
}
button {
  text-align: center;
}
