.jumbotron {
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  background-image: url(https://www.pngarts.com/files/2/Pattern-PNG-Pic.png);
  background-color: #F7BEC8;
}
.question1 .radiopadding{
  padding: 3px;
}
.question2 img {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  padding: 10px;
}
.question3 img {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  padding: 10px;
}
.question4 img {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  padding: 10px;
}
.question5 img {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  padding: 10px;
}
.question6 img {
  width: 200px;
  height: 150px;
  border-radius: 20px;
  padding: 10px;
}
.ruby, .react, .csharp {
  display: none;
}
body {
  font-family: 'Poiret One', cursive;
  font-size: 10px;
}
h4 {
  font-size: 20px;
  letter-spacing: 3px;
  background-color: lightGray;
  padding: 4px;
}
.button {
  text-align: center;
}
.button .btn {
  font-size: 20px;
  background-color: lightGray;
}
.footer {
  text-align: center;
  font-family: inherit;
}
.row {
  text-align:center;
}
.answers {
  text-align: center;
  font-size: 20px;
}
.button .refresh {
  display: none;
}
